@model InnvoTech.Models.ProductsViewModel
@{
    ViewData["Products"] = "Index";
}
<h1>Gadgets</h1>
<div class="jumbotron"> 
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="@Model.ImageUrl" alt="@Model.Name" class="img-fluid" />
        </div>
        <div class="col-md-6">
            <dl>
                <dt>Name</dt>
                <dd>@Model.Name</dd>
                <dt>Description</dt>
                <dd>@Model.Description</dd>
                <dt>Color</dt>
                <dd>@Model.Color</dd>
                <dt>Price</dt>
                <dd>@((Model.Price).ToString("C"))</dd>
            </dl>
            <form asp-action="index" asp-controller="Products" method="post">
                <input type="hidden" name="id" value="@Model.Name" />
                <button type="submit" class="btn btn-primary">Add to Cart</button>
            </form>
        </div>
    </div>
</div>
</div>